Welcome to <%= @app_name %>, <%= @name %>.

Your login credentials are:

  login:    <%= @login %>
  password: <%= @password %>

Please click on the following link to login and confirm your registration:

<%= @url %>

You can change your password by clicking "Edit Account" after you have logged in.
