<% if @in_mypeople.include?(entity.id) -%><%= link_to_remote image_tag('mp_minus.png'), :url=>{:controller=>"cart_items",:action=>"destroy", :params=>{:entity_id=>entity.id}}, :method=>"post", :loading=>"Element.show('cart_indicator');",:complete=>"Element.hide('cart_indicator');"%><% else -%><%= link_to_remote image_tag('mp_plus.png'), :url=>{:controller=>"cart_items",:action=>"create", :params=>{:entity_id=>entity.id}}, :method=>"post", :loading=>"Element.show('cart_indicator');",:complete=>"Element.hide('cart_indicator');"%><% end -%>