<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <link rel="icon" href="http://secure.opencampaigns.net/manager/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="http://secure.opencampaigns.net/manager/favicon.ico" type="image/x-icon">
	<% if @page_title %>
 	<title>Manager :: <%= @page_title %></title>
	<% else %>
 	<title>Manager :: <%= controller.controller_name.camelize %> :: <%= controller.action_name.camelize %></title>
	<% end %>
	<% stylesheet_link_tag 'scaffold' %>
	<%= stylesheet_link_tag 'manager-piefecta' %>
	<%= stylesheet_link_tag 'manager-textstyling' %>
	<%= javascript_include_tag 'prototype.js' %>
	<%= javascript_include_tag 'scriptaculous.js' %>
	
</head>
<body>

<div id="sizer">

<div class="header"><span class="headline">Manager<br/><span class="byline">by Open Campaigns</span></span>
	
</div><!-- The header is before the 1st wrapper so that it is separate from the columns -->

<div id="wrapper1">

<div class="outer">

<div class="float-wrap">
	<div class="left">

	<div class="container-left"> 

	<!--XXXXXXXX Begin left column includes XXXXXXXX-->

	<div class="textpadder">

	<h3><%= @campaign.name %></h3>
	<%= link_to "Start over", :action => "welcome" %><br /><br /><br />
	<%= link_to "Logout", :controller => "sessions", :action => "destroy" %>
	</div> <!-- end .textpadder -->


	<!--XXXXXXXX End left column includes XXXXXXXX-->

	</div> <!-- end .container-left -->
	</div> <!-- end .left -->
	
<div class="center">

<div class="centerbox"> <!-- optional extra styling div -->
<div class="textpadder">

	<p class="notice" id='flash_notice'><%=h flash[:notice] %></p>
	<p class="warning" id='flash_warning'><%=h flash[:warning] %></p>

	<%= @content_for_layout %>

</div> <!-- end .textpadder -->

</div> <!-- end .centerbox -->

</div> <!-- end .center -->

<br class="brclear" />

</div> <!-- end .float-wrap -->

<br class="brclear" />

</div><!-- end .outer -->

</div><!-- end #wrapper1 -->

<div class="footer"><p>Copyright 2005-2009 Open Campaigns.  http://www.opencampaigns.net, open.campaigns@gmail.com.</p>
	<p>Open Campaigns Manager is released under the <a href="http://www.fsf.org/licensing/licenses/agpl-3.0.html">GNU Affero General Public License, version 3</a>.  Current running code can be downloaded <a href="http://www.opencampaigns.net/manager.tar.bz2">here</a>.</p></div>

</div><!-- end #sizer -->

</body>
</html>
